<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title #{formTitle}
  body

div(id='header') #{formTitle}

form(method= methodType, action= actionType, enctype="application/x-www-form-urlencoded")

 input(type="text", hidden="hidden", name="id", value= idValue)
 div
  label(for='authorValue') Author
  input(id ='authorValue' type="text", name="author", value= authorValue)

 div
  label(for='linkValue') Link
  input(id='linkValue' type='text', name='link', value= linkValue)

 div
  label(for='descriptionValue') Description
  textarea(id ='descriptionValue' name="description") #{descriptionValue}

  input(type="submit")