<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel='stylesheet' type='text/css' href='./css/reset.css')
    link(rel='stylesheet' type='text/css' href='./css/styles.css')
  body
  
    div(id='header')
    div(id='imagePanel')
        if (galleryList.length==0)
            p No Gallery
        else
        each gallery in galleryList
            div(class='images')      
                img(src=gallery.link class='link')
                div(class='author') Uploaded By: #{gallery.author}
                div(class='description') #{gallery.description}
                hr


